#back {
    margin-left: 3%;
}

.spacer {
    margin-bottom: 5%;
}

a,
a:visited {
    color: #161616;
}

a:hover {
    color: #F4AE1D;
}

.step-indicator {
    text-align: center;
    margin-top: 40px;
}

.tab {
    display: none;
}

#showPsw {
    font-size: 16px;
}

input.invalid {
    background-color: #ffdddd;
}

input[type='text'],
input[type='password'] {
    height: auto;
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 1.2rem;
    border: 2px solid #F4AE1D;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.reg-btns {
    overflow: auto;
    margin-top: 3%;
}

.btn-reg {
    background-color: #F4AE1D;
    color: #F4F2E9;
}

.btn-reg:hover {
    opacity: 0.7;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #F4AE1D;
}

.error-msg{
    color:red;
}

