<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="icon" href="./static/img/time.png" type="image/x-icon">
    <title>Punct</title>
</head>

<body>
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="" id="active">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
        </ol>
    </div>
    <h1>Welcome to Punct!</h1>
    <p>Login page for Punct</p>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
</body>

</html>