<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="icon" href="./static/img/time.png" type="image/x-icon">
    <title>Main</title>
</head>

<body>
    <div class="navbar">
        <ol>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="" id="active">Application</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ol>
    </div>
    <h1>Welcome, {{user.username}}</h1>
    <p>You are in user area!</p>

    <form action="/addtask" method="POST">
        <div>
            <label for="taskname">New Task Name</label>
            <input type="text" name="taskname" placeholder="Enter here...">
            <br>
            <label for="taskdesc">Description</label>
            <input type="text" name="taskdesc" placeholder="Task Description">
            <br>
            <button type="submit">Add Task</button>
        </div>
    </form>

    <!-- <table> tags below is used for showing the items from database. don't modifiy this! -->
    <table>
        <tr>
            <td>Task Name</td>
            <td>Description</td>
            <td>Status</td>
            <td>Creation Date</td>
            <td colspan="2">Modify</td>
        </tr>

        {% for task in task_list %}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.desc}}</td>
            <td>
                {% if task.completion == True %}
                Finished
                {% else %}
                Not finished
                {% endif %}
            </td>
            <td>{{task.creationdate.strftime("%m/%d/%Y, %H:%M")}}</td>
            <td> <a href="/updatetask/{{task.id}}">Update</a></td>
            <td><a href="/deletetask/{{task.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


    <!-- this <a> tag below is used to credit the icon owner -->
    <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons" style="position: fixed;bottom: 0;">
        Calendar icons created by Freepik - Flaticon
    </a>
</body>

</html>